<h1>Cars#show</h1>
<p>Find me in app/views/cars/show.html.erb</p>
<div class="container">
    <%= @car.brand %>
    <%= @car.model %>
    <%= @car.year %>
    <%= @car.fuel %>

<%= simple_form_for [@car, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating %>
  <%= f.button :submit %>
<% end %>


</div>

<div class="container">
    <% @car.reviews.each do |review| %>
    <div class="card">
      <p>comment: <%= review.comment %></p>
      <p>Rating: <%= review.rating %></p>
    </div>
    <% end %>
</div>



<% if @car.favourites.empty? %>
  <%= simple_form_for [@car, @favourite] do |f| %>
  <%= f.button :submit %>
  <% end %>
<% else %>
  <%= "car in garage" %>
<% end %>

<%= link_to "Back to Cars", cars_path %>
